<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playoffs Cervellos</title>
  <!-- CSS -->
  <link rel="stylesheet" href="./static/header.css">
  <link rel="stylesheet" href="./static/playoffs.css">
</head>
<body>

    <!-- Logo -->
    <div align="center">
        <img src="./static/img/logoescudo.png" height="150">
    </div>
  
    <!-- Botones de Navegación -->
    <div class="category-buttons">
            <a href="./index.html" class="btn">Torneos</a>
    </div>
  
  <!-- Títulos -->
  <h1 class="text-center">PLAYOFFS</h1>
  <h2 class="text-center">4ª LLIGA SOCIAL MIXTA</h2>
  
  <div class="header-content">
      <div class="header-image">
          <img src="./static/img/social25.jpg" alt="Tornejo Logo" class="header-logo">
      </div>
  </div>
        
  {% for playoff in playoffs %}
  <div id="{{playoff.name}}" class="container">
  <h2 class="division-header">{{playoff.name}}</h2>
  {{playoff.tabla}}
  </div>
  {% endfor %}
</body>
</html>
