<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Tornejos Cervellos</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./static/header.css">
    <link rel="stylesheet" href="./static/classification.css">
    <link rel="stylesheet" href="./static/matches.css">
</head>
<body>
    <div class="container">

        <!-- Logo -->
        <div align="center">
            <img src="./static/img/logoescudo.png" height="150">
        </div>

        <!-- Botones de Navegación -->
        <div class="category-buttons">
                <a href="./index.html" class="btn">Torneos</a>
        </div>

        <!-- Títulos -->
        <h1 class="text-center">TORNEJOS</h1>
        <h2 class="text-center">4ª LLIGA SOCIAL MIXTA</h2>

        <div class="header-content">
            <div class="header-image">
                <img src="./static/img/social25.jpg" alt="Tornejo Logo" class="header-logo">
            </div>
        </div>

        <!-- Clasificaciones -->
        {% for nombre, tabla in tablas.items() %}
            <section id="{{ nombre }}" class="classification">
                <h2 class="division-header">{{ nombre.replace('_', ' ').capitalize() }}</h2>

                <div>{{ tabla|safe }}</div>

            </section>
        {% endfor %}

        <!-- Cuadro de Enfrentamientos -->
        {% for nombre, tabla in tablas.items() %}          
            <section class="matches">
                <h2 class="division-header">{{ nombre.replace('_', ' ').capitalize() }}</h2>
                <div>{{ cuadros[nombre]|safe }}</div>
            </section>
        {% endfor %}

        <!-- Separador -->
        <hr class="separator">

    </div>
    <!-- Botón Ir al Inicio -->
<a href="#top" class="back-to-top" title="Ir al inicio">⬆️</a>

</body>
</html>











