<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playoffs Cervellos</title>
  <!-- CSS -->
  <link rel="stylesheet" href="./static/header.css">
  <link rel="stylesheet" href="./static/playoffs.css">
</head>
<body>

  <!-- Logo -->
  <div class="header-image">
      <img src="./static/img/logoescudo.png">
  </div>
  
    <!-- Botones de Navegación -->
    <div class="category-buttons">
            <a href="./index.html" class="btn">Adultos</a>
            <a href="./infantil.html" class="btn">Infantil</a>
            <a href="./playoffs.html" class="btn">Playoffs</a>
    </div>
  
  <!-- Títulos -->
  <h1 class="text-center">PLAYOFFS</h1>
  <h2 class="text-center">3ª LLIGA SOCIAL MIXTA</h2>

  {% for playoff in playoffs %}
  <div id="{{playoff.name}}" class="container">
  <h2 class="division-header">{{playoff.name}}</h2>
  {{playoff.tabla}}
  </div>
  {% endfor %}
</body>
</html>
