<!DOCTYPE html>
<html lang="en">

<style>
.playoff_table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0px auto;
}
.playoff_player1 {
  border-bottom: solid 2px;
}
.playoff_player2 {
  border-bottom: solid 2px;
  border-right: solid 2px;
}
.playoff_match {
  border-right: solid 2px;
}
</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playoffs Cervellos</title>
</head>
<body>

  <!-- Logo -->
  <div class="header-image">
      <img src="./static/img/logoescudo.png">
  </div>
  
  <!-- Botones de Navegación -->
  <div class="category-buttons">
      {% for playoff in playoffs %}
          <a href="#{{playoff.name}}" class="btn">{{ playoff.name.capitalize() }}</a>
      {% endfor %}
          <a href="./index.html" class="btn">Torneo</a>
  </div>
  
  <!-- Títulos -->
  <h1 class="text-center">PLAYOFFS</h1>
  <h2 class="text-center">3ª LLIGA SOCIAL MIXTA</h2>

  {% for playoff in playoffs %}
  <div id="{{playoff.name}}" class="container">
  <h2>{{playoff.name}}</h2>
  {{playoff.tabla}}
  </div>
  {% endfor %}
</body>
</html>
