<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Tornejos Cervellos</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cervellosocial.github.io/torneo_tenis/classification.css">
    <link rel="stylesheet" href="https://cervellosocial.github.io/torneo_tenis/matches.css">
</head>
<body>
    <div class="container">

        <!-- Logo -->
        <div class="header-image">
            <img src="{{ url_for('static', filename='img/cervello.png') }}">
        </div>

        <!-- Botones de Navegación -->
        <div class="category-buttons">
            {% for nombre in tablas.keys() %}
                <a href="#{{ nombre }}" class="btn">{{ nombre.replace('_', ' ').capitalize() }}</a>
            {% endfor %}
        </div>

        <!-- Títulos -->
        <h1 class="text-center">TORNEJOS</h1>
        <h2 class="text-center">3ª LLIGA SOCIAL MIXTA</h2>

        <div class="header-content">
            <div class="header-image">
                <img src="{{ url_for('static', filename='img/tornejo.png') }}" alt="Tornejo Logo" class="header-logo">
            </div>
        </div>

        <!-- Clasificaciones y Cuadros -->
        {% for nombre, tabla in tablas.items() %}
            <section id="{{ nombre }}" class="classification">
                <h2 class="division-header">{{ nombre.replace('_', ' ').capitalize() }}</h2>

                <!-- Botón para enlazar al calendario -->
                <div class="calendar-button-container">
                    <a href="#calendarios-{{ nombre }}" class="btn-calendar">Ver Calendario</a>
                </div>
                
                <div>{{ tabla|safe }}</div>

                <!-- Leyenda -->
                <div class="legend">
                    
                    <ul>
                        <li><strong>PJ:</strong> Partidos Jugados</li>
                        <li><strong>PG:</strong> Partidos Ganados</li>
                        <li><strong>PP:</strong> Partidos Perdidos</li>
                        <li><strong>SG:</strong> Sets Ganados</li>
                        <li><strong>SP:</strong> Sets Perdidos</li>
                        <li><strong>JG:</strong> Juegos Ganados</li>
                        <li><strong>JP:</strong> Juegos Perdidos</li>
                        <li><strong>DJ:</strong> Diferencia de Juegos</li>
                    </ul>
                </div>
            </section>

            <!-- Cuadro de Enfrentamientos -->
            <section class="matches">
                <div>{{ cuadros[nombre]|safe }}</div>
            </section>
        {% endfor %}

        <!-- Separador -->
        <hr class="separator">

        <!-- Calendarios al final -->
        <section id="calendarios">
            {% for nombre, calendario in calendarios.items() %}
                <div id="calendarios-{{ nombre }}" class="calendar-section centered-category">
                    <h3 class="calendar-header">{{ nombre.replace('_', ' ').capitalize() }}</h3>
                    <div>{{ calendario|safe }}</div>
                </div>
            {% endfor %}
        </section>
    </div>
    <!-- Botón Ir al Inicio -->
<a href="#top" class="back-to-top" title="Ir al inicio">⬆️</a>

</body>
</html>
